@font-face {
  font-family: "HelveticaNeueUltraLightItalic";
  src: url("./HelveticaNeue-UltraLightItalic-07.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("./HelveticaNeue-UltraLight-06.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueThinItalic";
  src: url("./HelveticaNeue-ThinItalic-14.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("./HelveticaNeue-Thin-13.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCondensedBold";
  src: url("./HelveticaNeue-CondensedBold-05.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCondensedBlack";
  src: url("./HelveticaNeue-CondensedBlack-10.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("./HelveticaNeue-Medium-11.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueMediumItalic";
  src: url("./HelveticaNeue-MediumItalic-12.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueLightItalic";
  src: url("./HelveticaNeue-LightItalic-09.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueBoldItalic";
  src: url("./HelveticaNeue-BoldItalic-04.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("./HelveticaNeue-Light-08.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueItalic";
  src: url("./HelveticaNeue-Italic-03.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./HelveticaNeue-Bold-02.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./HelveticaNeue-01.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
